body{
	font-family: 'Georgia', sans-serif;
	background-image: url('images/bubble_background.jpg');
	background-repeat: repeat-x;
	height: 100%;
}
/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
	#header{
		font-size: 2em;
		height: 40px;
	}

	#title{
		float: left;
	}

	#settings{
		float: right;
	}

	#search{
		float: right;
	}
	#block1{

	}
	#block2{

	}
	#block3{

	}
	#block4{

	}
	#block5{

	}
	#block6{

	}
	#block7{

	}
	#block8{

	}
	#block9{
		
	}
	.block{
		margin: 40px;
		text-align:center;
		height: 400px;
		width: 400px;
	}
}

/*iphone*/
@media only screen and (max-device-width: 480px) {
    
}

/* assuming all else is a computer screen... */
#header{
		margin-top: 10px;
		font-size: 2em;
		height: 40px;
}

#title{
	float: left;
}

#settings{
	float: right;
}

#search{
	float: right;
}

#center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#block1{
	
}
#block2{
	top:500px;
}
#block3{
	top: 950px;
}
#block4{
	left: 500px;
}
#block5{
	top:500px;
	left: 500px;
}
#block6{
	top: 950px;	
	left: 500px;
}
#block7{
	left: 990px;
}
#block8{
	top:500px;
	left: 990px;
}
#block9{
	top:950px;
	left: 990px;
}
.block{
	
	position: absolute;
	margin: 20px;
	text-align:center;
	height: 400px;
	width: 450px;

}